@reference 'tailwindcss';

@layer base {
	[data-radix-popper-content-wrapper] {
		@apply rounded-md bg-white shadow-lg border border-gray-100 !min-w-3xs;
		animation-duration: 400ms;
		animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
		will-change: transform, opacity;

		&[data-state="open"][data-side="top"] {
			animation-name: slideDownAndFade;
		}
		&[data-state="open"][data-side="right"] {
			animation-name: slideLeftAndFade;
		}
		&[data-state="open"][data-side="bottom"] {
			animation-name: slideUpAndFade;
		}
		&[data-state="open"][data-side="left"] {
			animation-name: slideRightAndFade;
		}

		.PopoverArrow {
			fill: white;
		}

		.PopoverClose {
			font-family: inherit;
			border-radius: 100%;
			height: 25px;
			width: 25px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: var(--violet-11);
			position: absolute;
			top: 5px;
			right: 5px;
		}
		.PopoverClose:hover {
			background-color: var(--violet-4);
		}
		.PopoverClose:focus {
			box-shadow: 0 0 0 2px var(--violet-7);
		}
	}
}



@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
